<h3 class="mt-2 m-lg-3">Manage account</h3>
<div>
  <hr>
  <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg.length">
    <p class="p-0 m-0" *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>
  <div class="col-6">
    <form class="row g-3" #accountForm="ngForm">
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="userRequest.email" type="email" name="email" placeholder="Email" required>
          <mat-error *ngIf="accountForm.controls['email']?.invalid && accountForm.controls['email']?.dirty">
            Please enter a valid email.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>First Name</mat-label>
          <input matInput [(ngModel)]="userRequest.firstName" type="text" name="firstName" placeholder="First Name"
                 required>
          <mat-error *ngIf="accountForm.controls['firstName']?.invalid && accountForm.controls['firstName']?.dirty">
            Please enter your first name.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="userRequest.lastName" type="text" name="lastName" placeholder="Last Name"
                 required>
          <mat-error *ngIf="accountForm.controls['lastName']?.invalid && accountForm.controls['lastName']?.dirty">
            Please enter your last name.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="userRequest.username" type="text" name="username" placeholder="Username"
                 required>
          <mat-error *ngIf="accountForm.controls['username']?.invalid && accountForm.controls['username']?.dirty">
            Please enter a username.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end gap-2 col-12">
        <button mat-raised-button color="primary" class="btn btn-primary btn-lg custom-button"
                (click)="updateAccount(accountForm)" [disabled]="accountForm.invalid">
          <i class="fas fa-save"></i>&nbsp;Update
        </button>
        <button mat-button color="warn" class="btn btn-danger btn-lg custom-button transparent-button"
                (click)="resetAccount()">
          <i class="fas fa-undo"></i>&nbsp;Reset
        </button>
      </div>
    </form>
  </div>
</div>
