<div class="d-flex flex-column gap-1">
  <app-menu></app-menu>

  <div class="pe-2 ps-2">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter short link" [(ngModel)]="shortLink">
      <button class="btn btn-outline-primary" type="button" (click)="redirectToLongLink()">Go</button>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <div class="animation-container" *ngIf="loading">
      <div class="loader">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
