<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand custom-navbar-brand" href="javascript:void(0)">SLG</a>
    <button class="navbar-toggler custom-navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link custom-nav-link" aria-current="page" routerLink="/links">
            <i class="fas fa-home-alt"></i>&nbsp;Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" routerLink="my-links">
            <i class="fas fa-link"></i>&nbsp;My links
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" routerLink="shared-links">
            <i class="fas fa-share-alt"></i>&nbsp;Shared Links
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" routerLink="search-links">
            <i class="fas fa-search"></i>&nbsp;Search Links
          </a>
        </li>
      </ul>
      <form class="d-flex gap-2 align-items-center" (ngSubmit)="searchLinks()" role="search">
        <input class="form-control custom-form-control" [ngClass]="{'is-invalid': isError}" type="search"
               [(ngModel)]="searchQuery"
               placeholder="Find a link by name" aria-label="Search" name="searchQuery">
        <button class="btn btn-outline-success custom-search-btn" type="submit"><i class="fas fa-search"></i></button>
        <span class="custom-welcome">Welcome</span>
        <div *ngIf="currentUser">
          <span class="fw-bold custom-username">{{ currentUser.username }}</span>
          <span class="fw-bold custom-role">({{ currentUser.role }})</span>
        </div>
        <button class="btn btn-link custom-logout-btn" type="button" (click)="logout()"><i class="fas fa-door-open"></i>
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="container mt-3" *ngIf="searchResult">
  <div class="list-group">
    <a href="javascript:void(0)" class="list-group-item list-group-item-action custom-list-group-item"
       (click)="goToLink(searchResult.longLink)">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 custom-list-item">{{ searchResult.linkName }}</h5>
        <small class="custom-list-item">{{ searchResult.removeDate | date: 'medium' }}</small>
      </div>
      <p class="mb-1 custom-list-item">{{ searchResult.titleCategory }}</p>
      <small class="custom-list-item">{{ searchResult.username }}</small>
    </a>
  </div>
</div>
