<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand custom-navbar-brand" href="javascript:void(0)">SLG</a>
    <button class="navbar-toggler custom-navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link custom-nav-link" aria-current="page" routerLink="home">
            <i class="fas fa-home-alt"></i>&nbsp;Home
          </a>
        </li>
        <li class="nav-item" *ngIf="currentUser">
          <a class="nav-link custom-nav-link" routerLink="my-links">
            <i class="fas fa-link"></i>&nbsp;My links
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" routerLink="shared-links">
            <i class="fas fa-share-alt"></i>&nbsp;Shared Links
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" routerLink="search-links">
            <i class="fas fa-search"></i>&nbsp;Search Links
          </a>
        </li>
        <li class="nav-item" *ngIf="currentUser.role && currentUser.role === 'ADMIN'">
          <a class="nav-link custom-nav-link" routerLink="search-users">
            <i class="fas fa-user-group"></i>&nbsp;Search Users
          </a>
        </li>
      </ul>
      <form class="d-flex gap-2 align-items-center" (ngSubmit)="searchLinks()" role="search">
        <input class="form-control custom-form-control" [ngClass]="{'is-invalid': isError}" type="search"
               [(ngModel)]="searchQuery"
               placeholder="Find a link by name" aria-label="Search" name="searchQuery">
        <button class="btn btn-outline-success custom-search-btn" type="submit"><i class="fas fa-search"></i></button>
        <span class="custom-welcome">Welcome,</span>
        <div *ngIf="currentUser; else guestTemplate">
          <span class="fw-bold custom-username">{{ currentUser.username }}</span>
          <span class="fw-bold custom-role">({{ currentUser.role }})</span>
        </div>
        <ng-template #guestTemplate>
          <span class="fw-bold custom-username">guest</span>
          <div class="nav-item">
            <a class="nav-link custom-nav-link" routerLink="/login">
              <i class="fas fa-sign-in">&nbsp;Login</i>
            </a>
          </div>
        </ng-template>

        <div *ngIf="currentUser" class="d-flex align-items-center gap-2">
          <a class="nav-link custom-nav-link" routerLink="account">
            <i class="fas fa-user-circle">&nbsp;Account</i>
          </a>
          <button class="btn btn-link custom-logout-btn" type="button" (click)="logout()">
            <i class="fas fa-door-open"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>

<div class="d-flex justify-content-center align-items-center gap-2 flex-wrap m-lg-3">
  <app-link-card *ngIf="searchResult" [link]="searchResult"></app-link-card>
  <button *ngIf="searchResult" (click)="removeCard()" class="btn btn-danger">
    <i class="fa-solid fa-trash-alt"></i>&nbsp;Remove from screen
  </button>
</div>

