.card-body {
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    background-color: #22BDA0;
  }
}
.custom-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.2);
  }
}
