<div class="card" style="width: 20rem">
  <div class="card-body overflow-auto" (click)="onCardClick(link.longLink)">
    <h5 class="card-title fs-6 text-nowrap fw-bold mb-1">
      <i class="fa-solid fa-external-link-alt"></i>&nbsp;{{link.shortLink}}
    </h5>
    <h5 class="card-title fs-6 text-nowrap fw-bold mb-1">
      <i class="fa-solid fa-file-alt"></i>&nbsp;{{link.linkName}}
    </h5>
    <h5 class="card-subtitle fs-6 text-secondary mb-1">
      <i class="fa-solid fa-tag"></i>&nbsp;{{link.titleCategory}}
    </h5>
    <h5 class="card-subtitle fs-6 text-secondary mb-1">
      <i class="fa-solid fa-user"></i>&nbsp;{{link.username}}
    </h5>
    <h6 class="card-subtitle fs-6 text-secondary mb-1">
      <i class="fa-solid fa-clock"></i>&nbsp;{{link.createdDate | date: 'medium'}}
    </h6>
    <h6 class="card-subtitle fs-6 text-secondary mb-1">
      <i class="fa-solid fa-times-circle"></i>&nbsp;{{link.removeDate | date: 'medium'}}
    </h6>
  </div>
  <div class="d-flex justify-content-end m-2" *ngIf="manage">
    <i (click)="onEdit()" class="fas mx-lg-2 fa-edit text-success custom-icon"></i>
    <i (click)="onRemove()" class="fas fa-archive text-danger custom-icon"></i>
  </div>
</div>
