<!-- search-user.component.html -->
<div class="p-2">
  <h2>Search Users</h2>
  <hr>
  <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg.length">
    <p class="p-0 m-0" *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>
  <div class="col-6">
    <form class="row g-3" #searchForm="ngForm">
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="filter.email" type="email" name="email" placeholder="Email">
          <mat-error *ngIf="searchForm.controls['email']?.invalid && searchForm.controls['email']?.dirty">
            Please enter a valid email.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>First Name</mat-label>
          <input matInput [(ngModel)]="filter.firstName" type="text" name="firstName" placeholder="First Name">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="filter.lastName" type="text" name="lastName" placeholder="Last Name">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="filter.username" type="text" name="username" placeholder="Username">
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end gap-2 col-12">
        <button mat-raised-button color="primary" class="btn btn-primary btn-lg custom-button" (click)="searchUsers()"
                [disabled]="searchForm.invalid">
          <i class="fas fa-search"></i>&nbsp;Search
        </button>
        <button mat-button color="warn" class="btn btn-danger btn-lg custom-button" (click)="resetFilter()">
          <i class="fas fa-times"></i>&nbsp;Reset
        </button>
      </div>
    </form>
  </div>
</div>

<hr>
<div class="d-flex justify-content-start gap-2 flex-wrap m-lg-3">
  <table class="table">
    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userResponse.content">
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteUser(user.id!)">
          <i class="fa-solid fa-trash-alt"></i>&nbsp;Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="userResponse.content && userResponse.content.length > 0" class="d-flex justify-content-center mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a
          (click)="goToFirstPage()"
          class="page-link"
          href="javascript:void(0)"
          aria-label="First"
          [class.disabled]="page === 0"
        >
          <i class="fa-solid fa-angles-left"></i>
        </a>
      </li>
      <li class="page-item">
        <a
          (click)="goToPreviousPage()"
          class="page-link"
          href="javascript:void(0)"
          aria-label="Previous"
          [class.disabled]="page === 0"
        >
          <i class="fa-solid fa-angle-left"></i>
        </a>
      </li>
      <li class="page-item" *ngIf="page > 2">
        <span class="page-link">...</span>
      </li>
      <li
        class="page-item"
        *ngFor="let pageIndex of displayedPages"
      >
        <a
          (click)="goToPage(pageIndex)"
          class="page-link"
          [class.active]="page === pageIndex"
          href="javascript:void(0)"
        >{{ pageIndex + 1 }}</a>
      </li>
      <li class="page-item" *ngIf="userResponse.totalPages !== undefined && page < (userResponse.totalPages - 3)">
        <span class="page-link">...</span>
      </li>
      <li class="page-item">
        <a
          (click)="goToNextPage()"
          class="page-link"
          href="javascript:void(0)"
          aria-label="Next"
          [class.disabled]="isLastPage"
        >
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
      <li class="page-item">
        <a
          (click)="goToLastPage()"
          class="page-link"
          href="javascript:void(0)"
          aria-label="Last"
          [class.disabled]="isLastPage"
        >
          <i class="fa-solid fa-angles-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
